<div class="contact-div">
    <b>Name:</b> <span>@CurrentContact.FirstName</span><br>

    <b>Nachname:</b> <span>@CurrentContact.LastName</span><br>
    @if (DisplayEmail)
    {
        <b>Email:</b> <span>@CurrentContact.Email</span>
    }

    <br>
    @if (displayInfo)
    {

        <span>Die Email Addresse von
            @CurrentContact.FirstName
            @CurrentContact.LastName
            ist @CurrentContact.Email</span>
    }
    <br />
    <button @onclick="@(()=>{displayInfo = !displayInfo;})">Show info</button>
    <button @onclick="@(()=>{DeleteCurrentContact.InvokeAsync(CurrentContact);})">Delete</button>
</div>

@code {
    [Parameter] public Contact CurrentContact { get; set; } = new Contact();

    [Parameter]
    public bool DisplayEmail { get; set; }

    [Parameter]
    public EventCallback<Contact> DeleteCurrentContact { get; set; }

    public bool displayInfo = false;

    @* public string FirstName { get; set; } = "";
[Parameter]
public string LastName { get; set; } = "";
[Parameter]
public string Email { get; set; } = ""; alternative zu obigem code *@
}