@page "/notes"

<PageTitle>Notes</PageTitle>

<h1>Notizen</h1>

<h2>variable text: @exampleNote</h2>
<button class="btn btn-primary change-note-btn" @onclick="changeText">Ändere den Text oben!</button>

<button class="btn btn-primary change-note-btn" @onclick="@(()=>{
    if (exampleNote == "Beispiel Notiz")
        {
            exampleNote = "Neue Beispiel Notiz!";
        }
        else
        {
            exampleNote = "Beispiel Notiz";
        }
        })">Ändere den Text oben!</button>


@if (exampleNote == "Beispiel Notiz")
{
    <p>Standard Notiz wird angezeigt</p>
}
else
{
    <p>Standard Notiz wird nicht angezeigt</p>
}

<input @bind="@newNoteInput">
<button @onclick="addNewNote">Neue Notiz hinzufügen</button>
<button @onclick="deleteAllNotes">Alle Notizen löschen</button>
<br>
<span>for Schleife mit i variable im HTML:</span>
@for (int i = 0; i < 10; i++)
{
    <p>value of i: @i</p>
}
<br>
<span>Notizen mit einer ForEach schleife aus einer List(Liste) generiert:</span>
<br>
@* @{
int index = 0;//i in eine foreach schleife reinbekommen
} *@
@foreach (var note in notes.Select((value, index) => new { value, index }))//mit .Select(value,index) den index von
                                                                          //einem element in einer foreach schleife bekommen
{

    <div id="@($"note{note.index}")" class="note-container">

        <span class="note-popup" @onclick="()=>deleteNote(note.value)">Delete
            Note</span>

        <p>@((MarkupString)note.value)</p>@*mit @((MarkupString)variable) erkennt er html code im text und zeigt ihn korrekt
    an*@
    </div>
    @* index++; *@
}



@code {
    private bool showPopup = false;

    private string newNoteInput = "";
    private List<string> notes = [];

    protected override void OnInitialized()
    {
        notes = new List<string>{
"<b>erste notiz</b>",
"<i>zweite notiz</i>",
"dritte notiz",
"vierte notiz",
"fünfte notiz",
"sechste notiz",
"siebte notiz"};

    }
    private string exampleNote = "Beispiel Notiz";
    private void changeText()
    {
        Console.WriteLine("consolen text");
        if (exampleNote == "Beispiel Notiz")
        {
            exampleNote = "Neue Beispiel Notiz!";
        }
        else
        {
            exampleNote = "Beispiel Notiz";
        }

    }

    private void addNewNote()
    {
        notes.Add(newNoteInput);
        newNoteInput = "";
    }

    private void deleteAllNotes()
    {
        notes = [];
    }


    private void deleteNote(string note)
    {
        notes.Remove(note);
    }
}